.DS_Store
*.class
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserdatad
*.xcworkspace
*.xcuserstate
xcuserdata
DerivedData
*.swfml
*.act
*.mode1v3
node_modules/
MainActivity.apk
*.class
*.xcodeproj


*.o
*.d

*.tree

*.orig
/assets/smoke_tests/animations/hello_world.sgf
*.apk
.spaceport_server_contents.txt

lib

/android/jar/
/android/spaceportapp/jar/
out
android/plugins/localnotifications/jar
android/plugins/remotenotifications/jar
android/plugins/tapjoy/jar
android/plugins/twitter/jar
android/plugins/webutil/jar
android/plugins/contacts/jar
android/plugins/mail/jar
android/plugins/sms/jar